<a href="<?php echo($this->baseUrl()); ?>/seguridad/idioma/cambiaridioma/idioma/en">Ingles</a>
<a href="<?php echo($this->baseUrl()); ?>/seguridad/idioma/cambiaridioma/idioma/es">Espanol</a>
<a href="<?php echo($this->baseUrl()); ?>/seguridad/idioma/cambiaridioma/idioma/fr">Frances</a>
<form name="frm" id="frm" method="post" action="<?php echo $this->baseUrl(); ?>/seguridad/login/autenticar">							  
		
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="33" align="right" valign="middle" class="blanco12bold" style="padding-right:10px"><?php echo($this->etiquetas->_("usuario")); ?>:</td>
            <td><input type="text" name="txt_user" id="txt_user" /></td>
          </tr>
          <tr>
            <td width="33%" height="33" align="right" valign="middle" class="blanco12bold" style="padding-right:10px"><?php echo $this->etiquetas->_("clave"); ?>:</td>
            <td width="67%"><input type="password" name="txt_clave" id="txt_clave" /></td>
          </tr>
          <tr>
            <td height="33" colspan="2" align="center"><a href="javascript:document.frm.submit();" class="linkBlancoBold12"><?php echo($this->etiquetas->_("entrar")); ?></a></td>
          </tr>
        </table>
</form>

<script language="javascript">
<?php 
    if ($this->mensaje!=''){
?>        
        alert("<?php echo($this->mensaje); ?>");        
<?
    }//end if
?>    
</script>