 <!--  LLamado Componentes del JqGrid -->
    <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/js/jquery-ui/themes/redmond/jquery-ui-1.8.16.custom.css"/>	        
    <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/js/jqgrid/css/ui.jqgrid.css" />
    <script src="<?php echo $this->baseUrl(); ?>/js/jqgrid/js/grid.locale-es.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
    
<script>
    var baseUrl             = '<?php echo($this->baseUrl()); ?>';
    /*-----Variables utilizadas para el JqGrid de listado.js----*/    
    //Titulo General ddel JqGrid
    var etiqueta_clientes   = '<?php echo ($this->translate('Persona')); ?>';    
    //Columnas de Titulo de JqGrid
    var etiqueta_codigo                     = '<?php echo ($this->translate('Código')); ?>';
    var etiqueta_nombre                     = '<?php echo ($this->translate('Nombre')); ?>';
    var etiqueta_apellido                   = '<?php echo ($this->translate('Apellido')); ?>';
    var etiqueta_sexo                       = '<?php echo ($this->translate('Sexo')); ?>';
    var etiqueta_edad                       = '<?php echo ($this->translate('Edad')); ?>';
    var etiqueta_pais                       = '<?php echo ($this->translate('Pais')); ?>';
    var etiqueta_provincia                  = '<?php echo ($this->translate('Provincia')); ?>';
    var etiqueta_est_ecuatoriano            = '<?php echo ($this->translate('Ecuatotiano')); ?>';
    var etiqueta_est_doble_nacionalidad     = '<?php echo ($this->translate('Nacianalidad Doble')); ?>';
    var jqgrid_limitdefault =  <?php echo $this->jqgrid->limitdefault ?>;
    var jqgrid_limitrangos  =  Array(<?php echo $this->jqgrid->limitrangos ?>);
    
    /*----------------------------------------------------------*/
</script>
<script src="<?php echo $this->baseUrl(); ?>/js/modules/clientes/persona/listado.js" type="text/javascript" ></script>        

<fieldset class="ui-widget ui-widget-content">
    <legend class="ui-widget-header ui-corner-all" style="padding-left:10px; padding-right:10px"><div><?php echo ($this->translate('Listado Personas')); ?></div></legend>
    <!------------------------------------------------------------------------------------------------------------------------------------->
    <!--En esta tabla esta contenido el jqGrid y el buton buscar-->
    <br />
    <table width="100%">
    <tr valign="top">
        <td>
            <div id="div_buscador_grid_hide"> 
                    <a href="#" id="ocultar_buscador" class="linkTransparente0"> <img src="<?php echo $this->baseUrl(); ?>/images/general/icon_buscar.png" height="20px" width="20px" border="0" /></a> <br />
            </div>
            <div id="div_buscador_grid_show"> 
                    <a href="#" id="mostrar_buscador" class="linkTransparente0"> <img src="<?php echo $this->baseUrl(); ?>/images/general/icon_buscar.png" height="20px" width="20px" border="0" /></a> <br />
            </div>
        </td>
        <td>			
            <div id="div_buscador_grid" style="display:none"> 
            <form name="<? echo($this->form->getName()) ?>" id="<? echo($this->form->getId()); ?>" method="<? echo($this->form->getMethod()); ?>" action="" >                                    
            <table>
                    <tr>
                        <td nowrap><?php echo($this->form->cod_persona->renderLabel()); ?>:</td>
                        <td><?php echo($this->form->cod_persona->renderViewHelper()); ?></td>
                    </tr>
                    <tr>
                        <td nowrap><?php echo($this->form->nom_persona->renderLabel()); ?>:</td>
                        <td><?php echo($this->form->nom_persona->renderViewHelper()); ?></td>
                    </tr>
                    <tr>
                        <td colspan="2" align='center'><?php echo($this->form->buscar->renderViewHelper()); ?></td>
                    </tr>
            </table> 
            </form>
            </div>
        </td>
        <td width="100%">
            <table id="GridBody" width="100%"></table>
            <div id="GridFoot"></div>
        </td>
    </tr>
    </table>	
    <br />
    <br />	
  
</fieldset>