<script>baseUrl = '<? echo($this->baseUrl()); ?>';</script>
<script src="<?php echo $this->baseUrl(); ?>/js/modules/seguridad/cargo/mantenimiento.js" type="text/javascript" ></script>        
<?php
    /*---Permite mostrar mensajes de validaciones de formulario, errores o advertencias que se puedan dar en el sistema---*/
    echo $this->mensajeValidacion(array(
                                        'form' => $this->form->getMessages(),
                                        'ejecucion' => $this->mensajeEjecucion,                                          
                                       ),
                                 500,
                                 $this->mensajeIndicador
                                 );
?>

<!------------------------------------------------------------------------------------------------------------------------------------->
<!--Div para Mensajes-->
<div id="mensaje" class="<?php echo $this->mensajeClass; ?>">
    <?php  echo $this->mensajeTexto; ?>
    <?php
           if (isset($this->exception)){
              Zend_Debug::dump($this->exception);
           }//end if
    ?>
</div>
<!------------------------------------------------------------------------------------------------------------------------------------->
<fieldset class="ui-widget ui-widget-content">
    <legend class="ui-widget-header ui-corner-all" style="padding-left:10px; padding-right:10px"><div>Definicion de Sucursal</div></legend>
    <!----------------------------------------------------------------------------------------------------------------------------------------->

    <form name="<? echo($this->form->getName()) ?>" id="<? echo($this->form->getId()); ?>" method="<? echo($this->form->getMethod()); ?>" action="" >                    
    <!----------------------------------------------------------------------------------------------------------------------------------------->
	
            <table width="100%" border="0" id="tabla_mantenimiento">
              <tr>
                <td width="50" align="left"  valign="middle" class="gris12jtf" nowrap><?php echo($this->form->cod_cargo->renderLabel()); ?></td>
                <td align="left"><?php echo($this->form->cod_cargo->renderViewHelper()); ?> </td>
              </tr>
              <tr>
                <td align="left"  valign="middle" class="gris12jtf" nowrap><?php echo($this->form->nom_cargo->renderLabel()); ?></td>
                <td align="left"><?php echo($this->form->nom_cargo->renderViewHelper()); ?> </td>
              </tr>
              <tr>
                <td   align="left"  valign="middle" class="gris12jtf" nowrap><?php echo($this->form->est_cargo->renderLabel()); ?></td>
                <td align="left"><?php echo($this->form->est_cargo->renderViewHelper()); ?> </td>
              </tr>
            </table>
            <?php echo($this->form->accion->renderViewHelper()); ?>		
            <?php echo($this->form->flagcambio->renderViewHelper()); ?>	
    <!----------------------------------------------------------------------------------------------------------------------------------------->
    </form>
    <!----------------------------------------------------------------------------------------------------------------------------------------->
</fieldset>
<!----------------------------------------------------------------------------------------------------------------------------------------->
	