<style type="text/css">
<!--
.Estilo1 {font-size: 20px}
-->
</style>
<div style="font-family: arial; font-size: 20">
  <div align="center"><span class="Estilo1" style="color:#FFFFFF"><strong>******************************************* Ejercicio *******************************************</strong></span></div>
</div> 
