<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>:: FIBSYS ::  Zendframework y Web services</title>
        <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/images/general/fibsys.png" />

        <!-- Hojas de Estilo -->
<!--        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/styles.css" media="screen" type="text/css"  />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/formulario.css" media="screen" type="text/css"  />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/style_mensajes.css" media="screen" type="text/css"  />		
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/style_menubar_superior.css" type="text/css"  />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/style_menubar_inferior.css" type="text/css"  />-->
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery.contextMenu.css" type="text/css"  />    
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/js/validationEngine/css/validationEngine.jquery.css" type="text/css"/>
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/js/validationEngine/css/template.css" type="text/css"/>

        <!-- Libreria JQuery -->
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery/jquery.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery/jquery.officebar.js" type="text/javascript" ></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery/jquery.contextMenu.js" type="text/javascript" ></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery/samblink.js" type="text/javascript" ></script>
            
          <!-- Libreria JQuery-ui -->        
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery-ui/js/jquery-ui.js" type="text/javascript" ></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery-ui/ui/jquery.ui.core.js" type="text/javascript" ></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery-ui/ui/jquery.ui.widget.js" type="text/javascript" ></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery-ui/ui/jquery.ui.tabs.js" type="text/javascript" ></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery-ui/ui/jquery.ui.button.js" type="text/javascript" ></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery-ui/ui/jquery.ui.mouse.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/jquery-ui/ui/jquery.ui.draggable.js" type="text/javascript"></script>
        
       

        
    </head>
    
    <body>
    <table width="100%" border="1" bgcolor="#6666FF">
      <tr>
        <td><?php echo $this->render("cabecera.phtml"); ?> </td>
      </tr>
      <tr>
        <td>
			<table width="100%" border="1">
			  <tr>
				<td width="150" valign="top" bgcolor="#3366FF"><?php echo $this->render("menu.phtml"); ?> </td>
				<td width="80%"><?php echo $this->layout()->content; ?></td>
			  </tr>
			</table>
		</td>
      </tr>
      <tr bgcolor="#9999FF">
        <td align="center"><?php echo $this->render("pie.phtml"); ?> </td>
      </tr>
    </table>
    </body>
</html>