<style type="text/css">
<!--
.Estilo1 {
	color: #FFFFFF;
	font-family: Georgia, "Times New Roman", Times, serif;
}
-->
</style>
<table width="100%" border="0">
  <tr>
    <td align="center" valign="middle" bgcolor="#336699"><span class="Estilo1">Home</span></td>
  </tr>
  <tr>
      <td><a href="<?php echo($this->baseUrl()); ?>/clientes/index/listado" class="Estilo1">Listado</a></td>
  </tr>
  <tr>
      <td><a href="<?php echo($this->baseUrl()); ?>/clientes/index/mantenimiento" class="Estilo1"> Mantenimiento</a></td>
  </tr>
</table>

