<script language="javascript">
    function consultar(){
        document.frm.submit();
    }//end function consultar
</script>

<form id="frm" name="frm" method="post" action="<?php echo($this->baseUrl());  ?>/clientes/index/listado">
  <table width="100%" border="1">
    <tr>
      <td>Nuevo</td>
    </tr>
    <tr>
      <td>Nombre: 
      <input name="txt_nombre" type="text" id="txt_nombre" value="<?php echo $this->nombre; ?>" /> 
      apellido: 
      <input name="txt_apellido" type="text" id="txt_apellido" value="<?php echo $this->apellido; ?>" /> <input name="btn_consultar" type="button" id="btn_consultar" value="Consulta" onclick="javascript:consultar();" /></td>
    </tr>
    <tr>
      <td><table width="100%" border="1">
        <tr>
          <td>Codigo</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Edad</td>
          <td>Sexo</td>
          <td>Provincia</td>
          <td>Ecuatoriano?</td>
          <td>Doble Nac? </td>
        </tr>
<?php 
    foreach($this->resulset as $row){
?>        
        <tr>
          <td><?php echo($row['cod_persona']); ?>&nbsp;</td>
          <td><?php echo($row['nom_persona']); ?>&nbsp;</td>
          <td><?php echo($row['ape_persona']); ?>&nbsp;</td>
          <td><?php echo($row['edad']); ?>&nbsp;</td>
          <td><?php echo($row['sexo']); ?>&nbsp;</td>
          <td><?php echo($row['nom_provincia']); ?>&nbsp;</td>
          <td><?php echo($row['est_ecuatoriano']); ?>&nbsp;</td>
          <td><?php echo($row['est_doble_nacionalidad']); ?>&nbsp;</td>
        </tr>
<?php
    }//end foreach
?>
      </table></td>
    </tr>
  </table>
</form>

<?php echo($this->BaseUrlVista()); ?>
<br>Otra linea<br>
<?php echo($this->baseUrl) ?>