<?php
    $cod_persona            = $this->reg["cod_persona"];
    $nom_persona            = $this->reg["nom_persona"];
    $ape_persona            = $this->reg["ape_persona"];
    $edad                   = $this->reg["edad"];
    $v_checkedFemenino      = "";
    $v_checkedMasculino     = "";
    if ($this->reg["sexo"]=="F"){
        $v_checkedFemenino = "checked";
    }else{
        $v_checkedMasculino = "checked";
    }//end if

    $cod_pais               = $this->reg["cod_pais"];
    $cod_provincia          = $this->reg["cod_provincia"];
    $v_checkedEcuatoriano   = "";
    if ($this->reg["est_ecuatoriano"]=="S"){
        $v_checkedEcuatoriano = "checked";
    }//end if
    $v_checkedDobleNacionalidad = "";
    if ($this->reg["est_doble_nacionalidad"]=="S"){
        $v_checkedDobleNacionalidad = "checked";
    }//end if

?>
                
<script language="javascript">
    function consultar(){
        //document.frm.action = "<?php echo($this->baseUrl());  ?>/clientes/index/consultar"
        
        document.frm.hid_accion.value = 'C';    
        document.frm.action = "<?php echo($this->baseUrl());  ?>/clientes/index/mantenimiento";
        document.frm.submit();
    }//end function consultar
    
    function grabar(){       
        //document.frm.action = "<?php echo($this->baseUrl());  ?>/clientes/index/grabar"
        
        if (document.frm.hid_accion.value == 'N'){
            document.frm.hid_accion.value = 'I';   
        }
        document.frm.action = "<?php echo($this->baseUrl());  ?>/clientes/index/mantenimiento";
        document.frm.submit();
    }//end function grabar    
    function eliminar(){       
        //document.frm.action = "<?php echo($this->baseUrl());  ?>/clientes/index/grabar"
        
        if (document.frm.hid_accion.value == 'N'){
            document.frm.hid_accion.value = 'E';   
        }
        document.frm.action = "<?php echo($this->baseUrl());  ?>/clientes/index/mantenimiento";
        document.frm.submit();
    }//end function grabar
    
    function nuevo(){
        document.frm.txt_codigo.value = "";
        document.frm.txt_nombre.value = "";
        document.frm.txt_apellido.value = "";
        document.frm.txt_edad.value = "";
        document.frm.opt_sexo.checked = true;
        document.frm.cbo_pais.value = "";
        document.frm.cbo_provincia.value = "";
        document.frm.chk_ecuatoriano.checked = false;
        document.frm.chk_doblenacionalidad.checked = false;
        
        document.frm.hid_accion.value = 'I';        
    }//end function nuevo

    function cargarProvincia(){
  //      alert(document.getElementById('div_mensaje').innerHTML);
        $('#div_mensaje').html("simon");

        $.ajax({
            type : 'POST',
            url : '<?php echo($this->baseUrl());  ?>/seguridad/provincia/cargarcombo',
            dataType : 'json',
            data: {
                cod_pais : $('#cbo_pais').val()
            },
            success : function(data){
                //alert("Error:"+data.error+"*msg:"+data.msg);
                //alert(data.data);
                $("#cbo_provincia").html("");					                
                $.each(data.data, function(key, value) {
                    $("<option value='"+key+"'>"+value+"</option>").appendTo("#cbo_provincia");                    
                    //alert("key:"+key+"*value:"+value);
                });

            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                text('There was an error.')
            }                
        });
    }//end function cargarProvincia

    function cargarProvincia2(){
  //      alert(document.getElementById('div_mensaje').innerHTML);
        $('#div_mensaje').html("simon");

        $.ajax({
            type : 'POST',
            url : '<?php echo($this->baseUrl());  ?>/seguridad/provincia/cargarcombo3',
            dataType : 'json',
            data: {
                cod_pais : $('#cbo_pais').val()
            },
            success : function(data){
     //           alert("Error:"+data.error+"*msg:"+data.msg);
                //alert(data.data);
                $("#cbo_provincia").html(data.options);					                
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                text('There was an error.')
            }                
        });
    }//end function cargarProvincia2


</script>
<div id="div_mensaje">Hola</div>


<form id="frm" name="frm" method="post" action="">
  <table width="100%" border="1">
    <tr>
      <td><table width="100%" border="1">
        <tr>
          <td width="21%">Codigo</td>
          <td width="79%">
              <input name="txt_codigo" type="text" id="txt_codigo" value="<?php echo($cod_persona); ?>"> 
              <input type="button" name="btn_consultar" id="btn_consultar" value="Consultar" onclick="javascript:consultar();" /></td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td><input name="txt_nombre" type="text" id="txt_nombre" value="<?php echo($nom_persona); ?>" /></td>
        </tr>
        <tr>
          <td>Apellido</td>
          <td><input name="txt_apellido" type="text" id="txt_apellido" value="<?php echo($ape_persona); ?>" /></td>
        </tr>
        <tr>
          <td>Edad</td>
          <td><input name="txt_edad" type="text" id="txt_edad" value="<?php echo($edad); ?>" /></td>
        </tr>
        <tr>
          <td>Sexo</td>
          <td><input name="opt_sexo" type="radio" value="F" <?php echo($v_checkedFemenino); ?> />
            Femenino
            <input name="opt_sexo" type="radio" value="M"  <?php echo($v_checkedMasculino); ?> />
            Masculino</td>
        </tr>
        <tr>
          <td>Pais</td>
          <td><select name="cbo_pais" id="cbo_pais" onchange="javascript:cargarProvincia2();">
           <?php echo $this->cboPais; ?>       
          </select>
          </td>
        </tr>
        <tr>
          <td>Provincia</td>
          <td><select name="cbo_provincia" id="cbo_provincia">
                   <?php echo($this->cboProvincia); ?>
              </select>
          </td>
        </tr>
        <tr>
          <td>Ecuatoriano?</td>
          <td><input name="chk_ecuatoriano" type="checkbox" id="chk_ecuatoriano" value="S" <?php echo($v_checkedEcuatoriano); ?> /></td>
        </tr>
        <tr>
          <td>Doble Nacionalidad? </td>
          <td><input name="chk_doblenacionalidad" type="checkbox" id="chk_doblenacionalidad" value="S" <?php echo($v_checkedDobleNacionalidad); ?> /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
        <td><input name="btn_nuevo" type="button" id="btn_nuevo" value="Nuevo" onclick="javascript:nuevo();" />
          <input name="btn_grabar" type="button" id="btn_grabar" value="grabar" onclick="javascript:grabar();" />
          <input name="btn_eliminar" type="button" id="btn_eliminar" value="Eliminar" />
          <input name="hid_accion" type="text" id="hid_accion" value="<?php echo($this->accion); ?>" /> 
       </td>
    </tr>
  </table>
</form>

<?php
    if ($this->mensaje!=''){
?>
        <script language="javascript">alert("<?php echo($this->mensaje); ?>");</script>
<?php
    }//end if

?>