/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input{margin:0;padding:0}h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,th{font-size:1em;font-weight:normal;font-style:normal}ul,ol{list-style:none}fieldset,img{border:none}caption,th{text-align:left}table{border-collapse:collapse;border-spacing:0}

body { font: 11px/17px "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased;}
p { margin-bottom: 17px; }
a { color: #0088cc; text-decoration: none; outline-style: none; }
a:hover { text-decoration: underline; }


#page { margin: 0 auto; width: 706px; padding-top: 34px;}

h1, h2 { clear: both; font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif; font-weight: bold; margin: 0 0 17px 0;}
h1 { font-size: 27px; line-height: 34px; font-family: "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif,Verdana; }
h2 { font-size: 11px; line-height: 17px; margin-bottom: 0; }

.demonstrations { float: left; clear: both; width: 100%; margin-bottom: 17px; }
.demonstrations div {
  float: left;
  width: 72px;
  border: 1px solid #e0e0e0;
  border-right-color: #dcdcdc;
  border-bottom-color: #dcdcdc;
  height: 32px;
  margin: 0 5px 5px 0;
  background: #efefef;
  cursor: pointer;
}
.demonstrations div img {
  float: left;
  width: 72px;
  height: 32px;
}
.demonstrations .rightmost { margin-right: 0; }

.resources strong { font-family: "Lucida Sans"; }
